rules_version = '2';

function isValidEmail(email) {
	return email is string && email.matches('^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,5}$')
}

function isValidRunner() {
	return request.resource.data.name is string &&
  			request.resource.data.number is number;
}

service cloud.firestore {
  match /databases/(default)/documents {
    match /laps/{lap} {
      allow delete: if request.auth.token.role == 'assistant';
      allow read: if request.auth != null;
    }

    match /runners/{runner} {
      allow create: if request.auth.token.role == 'assistant' && isValidRunner();
      allow read: if request.auth != null;
    }
  }
}