@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inspiration: https://merakiui.gumroad.com/l/fdsmt */

/* width */
::-webkit-scrollbar {
  display: none;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 4px solid rgb(230, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* General layout */
.main {
  @apply flex h-screen flex-col items-center justify-start bg-base-200 px-2 md:px-0;
}

.main > * {
  @apply max-w-xl;
}

.search-bar {
  @apply menu rounded-box menu-horizontal absolute z-40 mt-2 w-[calc(100%-1rem)] bg-base-100 p-2 shadow-xl;
}

.search-bar + * {
  @apply !pt-[calc(2rem+33px)];
}

.vertical-list {
  @apply grid w-full grid-cols-1 flex-col items-center gap-2 overflow-y-auto pb-[5.25rem] pt-2 lg:pb-2;
}

.large-card {
  @apply card bg-base-100 shadow-xl;
}

.leading-zeros {
  @apply text-base-content opacity-20;
}

:root {
  --toastify-color-dark: #303236 !important;
}
