@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inspiration: https://merakiui.gumroad.com/l/fdsmt */

/* Scroll bar styles */
/* width */
::-webkit-scrollbar {
  display: none;
  width: 15px;
}
/* Track */
/* ::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
} */
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 4px solid rgb(230, 230, 230);
} */
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* General layout */
.main {
  height: 100vh;
  height: 100dvh;
  @apply flex w-full flex-col items-center justify-start bg-base-100 p-2;
}

.search-bar {
  @apply menu menu-horizontal top-0 fixed left-0 z-10 w-full max-w-xl bg-accent p-3 landscape:w-[calc(100%-1rem)] landscape:left-1/2 landscape:-translate-x-1/2;
}

.vertical-list {
  @apply grid w-full grid-cols-1 flex-col items-center overflow-y-auto max-w-xl;
}

.filling-card {
  @apply card grow bg-base-200 shadow-md;
}

.centered-card {
  @apply card mx-auto w-full max-w-xl bg-base-200 shadow-md;
}

.leading-zeros {
  @apply text-base-content opacity-20;
}

:root {
  --toastify-color-dark: #000000 !important;
}
