@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inspiration: https://merakiui.gumroad.com/l/fdsmt */

/* width */
::-webkit-scrollbar {
  display: none;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 4px solid rgb(230, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* General layout */
.main {
  @apply flex w-full h-screen flex-col items-center justify-start bg-base-200 p-2;
}

.search-bar {
  @apply menu rounded-box menu-horizontal absolute z-10 w-[calc(100%-1rem)] lg:w-[calc(100%-1rem)] max-w-xl bg-base-100 p-2 shadow-md;
}

.search-bar + * {
  @apply !pt-[calc(0.5rem+48px)];
}

.vertical-list {
  @apply grid w-full grid-cols-1 flex-col items-center gap-2 overflow-y-auto;
}

.filling-card {
  @apply card bg-base-100 shadow-md grow;
}

.centered-card {
  @apply card bg-base-100 shadow-md max-w-xl mx-auto w-full;
}

.leading-zeros {
  @apply text-base-content opacity-20;
}

:root {
  --toastify-color-dark: #303236 !important;
}
