@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inspiration: https://merakiui.gumroad.com/l/fdsmt */

/* width */
::-webkit-scrollbar {
  display: none;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 4px solid rgb(230, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.verticalList {
  @apply flex flex-col items-start overflow-y-auto h-screen px-2 lg:px-0 w-full pt-20 pb-3 gap-3;
}

.searchbox {
  @apply menu menu-horizontal bg-base-100 p-2 rounded-full z-40 lg:block top-3 shadow-2xl absolute w-[calc(100%-1rem)] lg:w-[42rem];
}

.searchbox .inputElementsContainer {
  @apply form-control flex flex-row gap-3 justify-between w-full;
}

.searchbox input[type="text"] {
  @apply input input-bordered input-sm rounded-full grow w-10;
}

.searchbox .homeButton {
  @apply btn btn-circle btn-ghost btn-sm rounded-full lg:hidden;
}
