@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inspiration: https://merakiui.gumroad.com/l/fdsmt */

/* width */
::-webkit-scrollbar {
  display: none;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 4px solid rgb(230, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  @apply flex flex-col justify-center items-center bg-base-200 h-screen px-2;
}

.small-card {
  @apply card w-full max-w-sm shadow-xl bg-base-100 mx-2;
}

.large-card {
  @apply card w-full max-w-xl shadow-xl bg-base-100;
}

.vertical-list {
  @apply flex items-center flex-col overflow-y-auto h-screen w-full pt-2 pb-2 gap-2;
}

.vertical-list .list-item {
  @apply alert max-w-xl shadow-md bg-base-100 rounded-box flex flex-row justify-start w-full !gap-0 text-lg;
}

.vertical-list .list-item .spacer {
  @apply flex-grow;
}

.searchbox {
  @apply menu menu-horizontal bg-base-100 p-2 rounded-full z-40 top-4 shadow-xl absolute w-[calc(100%-1rem)] max-w-xl;
}

.input-elements-container {
  @apply form-control flex flex-row gap-3 justify-between w-full;
}

.input-elements-container input[type="text"] {
  @apply input input-bordered input-sm rounded-full grow w-10;
}

.alert {
  @apply px-1 py-1 pl-3;
}

.alert > :not([hidden]) ~ :not([hidden]) {
  @apply mt-0;
}

.leading-zeros {
  @apply text-base-content opacity-20;
}

:root {
  --toastify-color-dark: #303236 !important;
}
